#imageContainer {
  display: flex;
}

img {
  height: 15vh;
}

#displayImage > * {
  height: 90vh;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  #imageContainer {
    display: flex;
  }
  img {
    height: 15vh;
  }
  #displayImage > * {
    height: 90vh;
    box-sizing: border-box;
  }
}
